{% extends "index/base.html" %}
{% block title %}Ship Catalogue{% endblock %}
{% block content %}
    {% for ship in ships %}
        <div>
            <h3>{{ ship.ship_name }}</h3>
            By: {{ ship.creator.username }} ({{ ship.creator.userextrainfo.in_game_name }})<br>
            Last updated: {{ ship.updated_at }}<br>
            Likes: {{ ship.likes }}<br>
            <img src="{{ ship.images.all.0.image.url }}" width="512" alt="Image not found"><br>
            {{ ship.images.all.0.description }}<br><br>
            {{ ship.description }}<br><br>
            <u>Price:</u> {{ ship.price }} credits<br>
            <u>Blueprint price:</u> {{ ship.price_blueprint }} credits<br><br>
            <u>Attributes:</u><br>
            {% for attr, val in ship.attributes.items %}
                {{ attr }}: {{ val }}<br>
            {% endfor %} <br><br>
            <u>Tags:</u><br> |
            {% for tag in ship.tags %}
                {{ tag }} |
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}