<div class="nav">
  <div class="logo-container">
    <img src="assets/svg/logo.svg"
         class="logo"
         alt="logo" />
  </div>
  <div class="nav-buttons">
    <ng-container>
      <app-navigation-button *ngFor="let button of buttons"
                             [name]="button.name"
                             [link]="button.link"></app-navigation-button>
    </ng-container>
  </div>
  <div class="pre-line"></div>
  <div class="filler">
    <!-- TODO replace `true` with logged-in state -->
    <ng-container *ngIf="true">
      <a (click)="openSignUpDialog()">Sign Up</a>
    </ng-container>
  </div>
</div>
