@use "/src/styles/colors" as *;
@use "../styles" as *;

.navigation-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0 16px;
  background-color: $base;
  color: $text;
  cursor: pointer;
  @include triangle-left;
  @include triangle-right;
}
