{% extends "index/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h2> Patch Notes</h2>

<img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/clans/35137349/09caa39199964b762abc3317e4e54803327f3c5f.png">
<br>
<b>Starbase Early Access Update 7.9.2021 (EA Build 589)</b>

<b>Patch type: Minor</b>>

Crafting
Fixed an issue where some crafted items awarded incorrect items

Gameplay
Fixed an issue that caused ships to pass through player station areas and getting stuck

Stations
Added Moon A1 PvP station
- Located around ~300km from the Fast Travel Gate, on the Moon asteroid belt edge
- 5km safe zone, insurance transfer point with 80km range
- Includes: Ship designer, ship shops, refuel towers, marketplace, auction house with 2% sales tax, item selling terminal
Added Ghost Station Nox
Added Ghost Station Relicta
- The ghost stations are waypoints that lead to Markka station from under the belt

Known Issues
The ghost PvP station near the Moon Station has instances and despawn areas
The Ship Designer on the Moon PVP Station doesn't work


    {% if request.is_authenticated %}
        request.user
    {% endif %}
{% endblock %}