{% extends "index/base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
    <div>
        <h2>Hi there, {{ request.user.username }}!</h2>
        <ul>
            <li>In Game Name: {{ request.user.userextrainfo.in_game_name|default_if_none:"" }}</li>
            <li>Discord Username: {{ request.user.userextrainfo.discord_name|default_if_none:"" }}</li>
            <li>Forum Username: {{ request.user.userextrainfo.forum_name|default_if_none:"" }}</li>
        </ul>
        <span style="display: inline-block">
            <label for="bio" style="display: block">User bio:</label>
            <textarea id="bio" name="bio" style="display: inline-block" disabled>{{ request.user.userextrainfo.bio|default_if_none:"" }}</textarea>
        </span>
    </div>

    
    <a class="mt-4 block text-blue-400 underline" href="/account/edit">Edit account information</a>
{% endblock %}
