{% extends "index/base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
    <div class="ui-bg-cover ui-bg-overlay-container text-white">
        <script src="https://kit.fontawesome.com/19dda2defe.js" crossorigin="anonymous"></script>
        <div class="ui-bg-overlay bg-dark opacity-50"></div>
        <div class="container py-5">
            <div class=" media col-md-10 col-lg-8 col-xl-7 p-0 my-4 mx-auto">
                <div class=“container”>
                    <img style="float: left; padding: 7px;" src="{{ user.userextrainfo.profile_picture.url|default:"/media/default/profile_picture.png" }}" alt
                         class="img-holder d-block ui-w-100 rounded-circle">
                    <button class="modal-open btn fa-icon-pencil"><i class="fas fa-pencil-alt"></i></button>


                    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
                        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
                        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                            <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
                            </div>
                            <div style="height: 95%; background-color: #1F2937;"
                                 class="modal-content py-4 text-left px-6">
                                <div class="flex justify-between items-center pb-3">
                                    <p class="text-2xl font-bold">Account Settings</p>
                                    <div class="modal-close cursor-pointer z-50">
                                        <svg class="fill-current text-white" width="18" height="18" viewBox="0 0 18 18">
                                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                                        </svg>
                                    </div>
                                </div>


                                <div class="login-page">
                                    <div class="form">
                                        <form method="POST" class="login-form" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {#            <a style="font-size: 16; color: beige"> Change your E-Mail</a>#}
                                            {#            <input style="color: black;" type="text" placeholder="Email" {{ form.email }}>#}
                                            {#            <a style="font-size: 16; color: beige"> Change your Password</a>#}
                                            {#            <input style="color: black;" type="password" placeholder="Password" {{ form.password1 }}>#}
                                            <a style="font-size: 16px; color: beige"> Change your Discord Tag</a>
                                            <input style="color: black;" type="text" placeholder="Discord Tag"
                                                   value="{{ user.userextrainfo.discord_name|default:"" }}"
                                                   name="discord_name">
                                            <a style="font-size: 16px; color: beige"> Change your Forum Name</a>
                                            <input style="color: black;" type="text" placeholder="Forum Name"
                                                   value="{{ user.userextrainfo.forum_name|default:"" }}"
                                                   name="forum_name">
                                            <a style="font-size: 16px; color: beige"> Change your In-Game Name</a>
                                            <input style="color: black;" type="text" placeholder="In-Game Name"
                                                   value="{{ user.userextrainfo.in_game_name|default:"" }}"
                                                   name="in_game_name">
                                            <a style="font-size: 16px; color: beige"> Change your Bio</a>
                                            <input style="color: black;" type="text" placeholder="Bio"
                                                   value="{{ user.userextrainfo.bio|default:"" }}" name="bio">
                                            <a style="font-size: 16px; color: beige"> Change your profile picture</a>

                                            <script>

                                                var uploadField = document.getElementById("file");

                                                uploadField.onchange = function () {
                                                    if (this.files[0].size > 2097152) {
                                                        alert("File is too big! Limit is 2MB.");
                                                        this.value = "";
                                                    }
                                                    ;
                                                };

                                            </script>

                                            <input style="background-color: rgb(186, 199, 228); color: black;"
                                                   type="file" accept="image/png, image/jpeg, image/jpg"
                                                   name="profile_picture">
                                            <i>Maximum size 2MB, PNG/JPG.</i>
                                            <br>
                                            <button type="submit"
                                                    class="px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400 mr-2">
                                                Update
                                            </button>
                                            <br><br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <script>

                        var openmodal = document.querySelectorAll('.modal-open')
                        for (var i = 0; i < openmodal.length; i++) {
                            openmodal[i].addEventListener('click', function (event) {
                                event.preventDefault()
                                toggleModal()
                            })
                        }

                        const overlay = document.querySelector('.modal-overlay')
                        overlay.addEventListener('click', toggleModal)

                        var closemodal = document.querySelectorAll('.modal-close')
                        for (var i = 0; i < closemodal.length; i++) {
                            closemodal[i].addEventListener('click', toggleModal)
                        }

                        document.onkeydown = function (evt) {
                            evt = evt || window.event
                            var isEscape = false
                            if ("key" in evt) {
                                isEscape = (evt.key === "Escape" || evt.key === "Esc")
                            } else {
                                isEscape = (evt.keyCode === 27)
                            }
                            if (isEscape && document.body.classList.contains('modal-active')) {
                                toggleModal()
                            }
                        };


                        function toggleModal() {
                            const body = document.querySelector('body')
                            const modal = document.querySelector('.modal')
                            modal.classList.toggle('opacity-0')
                            modal.classList.toggle('pointer-events-none')
                            body.classList.toggle('modal-active')
                        }

                    </script>

                </div>
                <div class="media-body ml-5">
                    <h4 style="font-size: 20px;" class="font-weight-bold mb-4"><b>{{ request.user.username }}</b></h4>
                    <h4>In Game Name: <a
                            style="color: gray;">{{ request.user.userextrainfo.in_game_name|default:"N/A" }}</a></h4>
                    <h4>Discord Username: <a
                            style="color: gray;">{{ request.user.userextrainfo.discord_name|default:"N/A" }}</a></h4>
                    <h4>Forum Name: <a
                            style="color: gray;">{{ request.user.userextrainfo.forum_name|default:"N/A" }}</a></h4>
                    <br>
                    <br>
                    <br>
                    <h4>About Me: <br><br> <a
                            style="color: gray;">{{ request.user.userextrainfo.bio|default:"This is a default about me. To change it, go to your account settings." }}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <br>


    <!--- this section could contain something like their listed ships, community guides, yolol scripts or their faction page. or all of that! --->
{% endblock %}
