{% extends "index/base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

<style>
.register-text {
font-family: 'Rubik Mono One', sans-serif;
font-size: 25;
}
</style>
<div class="login-page">
  <div class="form">
    <a class="register-text">Register</a>
<br>
<br>
    <form method="POST" class="login-form" action="/account/signup">
      {% csrf_token %}
      <input style="color: black;"type="text" placeholder="Username" {{ form.username }} 
      <input style="color: black;"type="password" placeholder="Password" {{ form.password1 }}
      <input style="color: black;" type="password" placeholder="Repeat Password" {{ form.password2 }}
      <input style="color: black;" type="text" placeholder="Email" {{ form.email }}
    <i>By signing up, you agree to our <a style="color: bisque;" href="#">Terms Of Usage</a></i>
    <br>
    <br>
      <button type="submit">Register</button>

    </form>

  </div>
</div>
{% endblock %}
