<div [formGroup]="signUpForm">
  <mat-form-field appearance="legacy">
    <mat-label>Username</mat-label>
    <input formControlName="username" matInput placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput placeholder="Placeholder" type="password">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Repeat</mat-label>
    <input formControlName="passwordRepeat" matInput placeholder="Placeholder" type="password">
  </mat-form-field>
  <button mat-flat-button (click)="submitSignUp()">Sign Up</button>
</div>
